<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>468078459323-vcu38f68lqqoogjh3vnvmtj822rk1043.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.468078459323-vcu38f68lqqoogjh3vnvmtj822rk1043</string>
	<key>API_KEY</key>
	<string>AIzaSyB-sscffOtYOz2JbcVurLxhhFzotMIKTfg</string>
	<key>GCM_SENDER_ID</key>
	<string>468078459323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.careshare</string>
	<key>PROJECT_ID</key>
	<string>careshare-data</string>
	<key>STORAGE_BUCKET</key>
	<string>careshare-data.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468078459323:ios:29634f25c61f9f4b4f2c9e</string>
	<key>DATABASE_URL</key>
	<string>https://careshare-data-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>